@font-face{
font-family:"DancingScript";
 src:url("../font/DancingScript.ttf");}
@font-face{
font-family:"Tinos";
src:url("../font/Tinos.ttf");}
@font-face{
font-family:"RobotoCondensed";
src:url("../font/RobotoCondensed.ttf"); }